/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Roboto",sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
}

h1 {
  color: white !important;
  font-size: 3rem !important;
   text-align:  center !important;
    font-family: Impact, sans serif !important; 
    margin: 5% 0 5% 0 !important;
}


h6 {
  color: white !important;
    text-align: right !important;
    padding-right: 8% !important;
    margin-top: 10px !important;
}

footer {
  background-color: black;
  width: 100%;
  height: 210px;
  margin: 0 auto;
}

iframe {
     margin-bottom: 30px;
    margin-left: 50px;
}

.container-fluid {
  padding: 0 0 0 0 !important;
}

.row {
  margin-bottom: 20px;

}

/*1. dia*/

#h2_firewall {
   
  font-family: Verdana, sans !important;
   font-size: 1.5rem !important;
  word-spacing: 5px;
}

.main-nav {
margin-top: 10px;
}

.main-nav li {
  display: inline-block;
  margin-left: 15px;
}

.dia {
position: relative;
overflow: hidden;
background-position: cover;
}

#red_button {
color: red;
border-color: red;
}

#black_button {
  color: black;
  border-color:black;
}

#white_button {
color: white;
border-color: white;
font-size: 22px;
margin-top: 20px;
margin-right: 10px;
border-radius: 10px;
}

#zold_button {
border-color: white;
color: white;
background-color: green;
margin-top: 20px;
font-size: 22px;
border-radius: 10px;
letter-spacing: 2px;
}

#no_credit_card {
  width: 86%;
}

#logo {
  height: 65px;
  width: auto;
  float: left;
  
}

#kep {
  position: absolute;
  width: 100%;
}


/*1.dia vége*/

/*2. dia*/

#h2_all_waf {
  font-family: Impact, sans serif !important;
  font-size: 2.5rem !important;
  text-align: center;
  margin-bottom: 30px;
}

#dia2_ul {
  list-style-type: disc;
  margin-left: 30px;
  font-size: 1rem;
}

#dia2_ul_div {
  margin-left: 30px;
  margin-top: 5%;
  margin-right: 5px;
}

#kep2 {
  width: 100%;
  height: 100%;
  float: left;
  border-radius: 10%;
}


/*2.dia vége*/


/*3.dia*/

.dia3_ul {
color: white;
font-family: 'Kosugi', sans-serif;
text-transform: uppercase;
font-size: 1.3rem;
margin-left: 5%;
text-align: justify;
line-height: 200%;
}

#dia3_ul_li {
line-height: 250%;
color: white;
font-family: 'Kosugi', sans-serif;
text-transform: uppercase;
font-size: 1.3rem;
margin-left: 3%;
text-align: justify;
line-height: 250%;
text-align: right;
}

#dia3_ul_li li:after {
    content: " +";
    color: red;
}

.dia3_ul li:before {
    content: "+ ";
    color: red;
}

#dia1_3 {
margin-top: 30px;
color: white;
}


#dia3 {
  height: 400px;
  background-color: black;
  width: 100%;
  text-align: center !important;
}

#h2_bitninja {
  color: white;
  font-size: 1.8rem !important;
  text-align: center;
  margin-top: 1%;
}

#kep3 {
    margin-left: auto;
    margin-right: auto;
    display: block;
}



/*circle*/


.menu-toggler {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.menu-toggler:hover + label, .menu-toggler:hover + label:before, .menu-toggler:hover + label:after {
  background: white;
}

.menu-toggler:checked + label {
  background: transparent;
}
.menu-toggler:checked + label:before, .menu-toggler:checked + label:after {
  top: 0;
  width: 40px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.menu-toggler:checked + label:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu-toggler:checked + label:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-toggler:checked ~ ul .menu-item {
  opacity: 1;
}
.menu-toggler:checked ~ ul .menu-item:nth-child(1) {
  -webkit-transform: rotate(0deg) translateX(-110px);
          transform: rotate(0deg) translateX(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(2) {
  -webkit-transform: rotate(40deg) translateX(-110px);
          transform: rotate(40deg) translateX(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(3) {
  -webkit-transform: rotate(80deg) translateX(-110px);
          transform: rotate(80deg) translateX(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(4) {
  -webkit-transform: rotate(120deg) translateX(-110px);
          transform: rotate(120deg) translateX(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(5) {
  -webkit-transform: rotate(160deg) translateX(-110px);
          transform: rotate(160deg) translateX(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(6) {
  -webkit-transform: rotate(200deg) translateX(-110px);
          transform: rotate(200deg) translateX(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(7) {
  -webkit-transform: rotate(240deg) translateX(-110px);
          transform: rotate(240deg) translateX(-110px);
}

.menu-toggler:checked ~ ul .menu-item:nth-child(8) {
  -webkit-transform: rotate(280deg) translateX(-110px);
          transform: rotate(280deg) translateX(-110px);
}

.menu-toggler:checked ~ ul .menu-item:nth-child(9) {
  -webkit-transform: rotate(320deg) translateX(-110px);
          transform: rotate(320deg) translateX(-110px);
}

.menu-toggler:checked ~ ul .menu-item a {
  pointer-events: auto;
}

.menu-toggler + label {
  width: 40px;
  height: 5px;
  display: block;
  z-index: 1;
  border-radius: 2.5px;
  background: rgba(255, 255, 255, 0.7);
  transition: top 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.5s;
  transition: transform 0.5s, top 0.5s, -webkit-transform 0.5s;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.menu-toggler + label:before, .menu-toggler + label:after {
  width: 40px;
  height: 5px;
  display: block;
  z-index: 1;
  border-radius: 2.5px;
  background: rgba(255, 255, 255, 0.7);
  transition: top 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.5s;
  transition: transform 0.5s, top 0.5s, -webkit-transform 0.5s;
  content: "";
  position: absolute;
  left: 0;
}
.menu-toggler + label:before {
  top: 10px;
}
.menu-toggler + label:after {
  top: -10px;
}

.menu-item:nth-child(1) a:before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          vertical-align: middle;
}

.menu-item:nth-child(1) a {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.menu-item:nth-child(2) a:before {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
          vertical-align: middle;  
}

.menu-item:nth-child(2) a {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.menu-item:nth-child(3) a:before {
  -webkit-transform: rotate(-260deg);
          transform: rotate(-260deg);
          vertical-align: middle;
}

.menu-item:nth-child(3) a {
  -webkit-transform: rotate(-260deg);
          transform: rotate(-260deg);
}

.menu-item:nth-child(4) a:before {
  -webkit-transform: rotate(-260deg);
          transform: rotate(-260deg);
          vertical-align: middle;
}

.menu-item:nth-child(4) a {
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
}

.menu-item:nth-child(5) a:before {
  -webkit-transform: rotate(-260deg);
          transform: rotate(-260deg);
          vertical-align: middle;
}

.menu-item:nth-child(5) a {
  -webkit-transform: rotate(-160deg);
          transform: rotate(-160deg);
}

.menu-item:nth-child(6) a:before {
  -webkit-transform: rotate(-260deg);
          transform: rotate(-260deg);
          vertical-align: middle;
}

.menu-item:nth-child(6) a {
  -webkit-transform: rotate(-200deg);
          transform: rotate(-200deg);
}

.menu-item:nth-child(7) a:before {
  -webkit-transform: rotate(-260deg);
          transform: rotate(-260deg);
          vertical-align: middle;
}

.menu-item:nth-child(7) a {
  -webkit-transform: rotate(-240deg);
          transform: rotate(-240deg);
}

.menu-item:nth-child(8) a:before {
  -webkit-transform: rotate(-260deg);
          transform: rotate(-260deg);
          vertical-align: middle;
}

.menu-item:nth-child(8) a {
  -webkit-transform: rotate(-280deg);
          transform: rotate(-280deg);
}

.menu-item:nth-child(9) a:before {
  -webkit-transform: rotate(-260deg);
          transform: rotate(-260deg);
          }

.menu-item:nth-child(9) a {
  -webkit-transform: rotate(-320deg);
          transform: rotate(-320deg);
}

.menu-item {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  display: block;
  opacity: 0;
  transition: 0.5s;
}

.menu-item a {
  display: block;
  width: inherit;
  height: inherit;
  color: rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 1.875rem;
  pointer-events: none;
  transition: 0.2s;
}
.menu-item a:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
  color: red !important;
  background: rgba(255, 255, 255, 0.3);
  font-size: 44.4444444444px;
}

#circle {
  position: initial !important;
}

/*circle end*/

/*negyedik dia*/
#h2_setting {
    font-size: 1.75rem !important;
    text-align: center;
    margin-top: 1%;
    font-family: Impact, sans serif !important;
}

#dia4_red_div {
    height: 190px;
    background-color: red;
}

#h3_try {
color: white;
padding-top: 10%;
}

#btn-white {
border: 1px solid white !important;
font-size: 18px;
border-radius: 5px;
float: right;
}

#btn_sign_up {
  color: white;
  float: right;
  margin-top: -10%;
  border: 1px solid white;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
}

#text {
  text-align: center;
  line-height: 200%;
  margin-top: 2%;
}

#dia4_text {
margin-left: 15%;
}

/*negyedik dia vége*/

/*ötödik dia*/
#h2_ninjas {
  text-align: center;
  color: red;
  margin-top: 10px;
}

.carousel-logo {
  width: 224px !important;
  height: 112px !important;
  margin: auto;
  padding: 20px 20px 20px 20px;
}

.footer_h5 {
  color: red;
}

.footer_p {
  color: white !important;
}

.carousel-indicators {
  position: relative !important;
  bottom: -10px !important;
}

.carousel-indicators li {
    position: relative !important;
    width: 20px !important;
    height: 20px !important;
    background-color: black !important;
    border-radius: 50% !important;
    
}

ol.carousel-indicators li.active {
  background-color: red !important;
}

.dia5_first_p {
float: left;
background-color: lightgray;
margin-left: 11%;
}

.dia5_second_p {
  overflow: hidden;
  background-color: lightgray;
  margin:auto;
}

.fa {
    color: #404040 !important;
    background-color: #fff;
    text-decoration: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    margin-right: 10px;
}

.fa:before {
  vertical-align: -webkit-baseline-middle;
}

.footer_div {
  float: right;
} 

/*ötödik dia vége*/


/*media query*/
@media only screen and (max-width: 640px) {
iframe {
  width: 220px;
  height: 120px;
}
#h2_firewall {
  font-size: 0.9rem !important;
}
#zold_button {
  font-size: 0.7rem;
  margin-top: 0;
}
#white_button {
  font-size: 0.7rem;
  margin-top: 0;
}
#dia1_3 {
    margin-top: 0;
  }
#h6_no_credit {
  font-size: 0.5rem;
  margin-top: 0;
  margin-left: 0;
  float: left;
}

}
@media only screen and (min-width: 640px) and (max-width: 768px) {
     h1 {
        font-size: 2rem !important;
    }

    iframe {
      width: 340px;
      height: 200px;
    }
/*dia1*/
    #logo {
    height: 40px;
    }

   #h2_firewall {
    font-size: 1.2rem !important;
    } 

   #white_button {
    font-size: 1rem;
    margin-top: 0;
   } 

   #zold_button {
    font-size: 1rem;
    margin-top: 1%;
   }

   #h6_no_credit {
    font-size: 0.7rem;
   }

   #dia1_3 {
    margin-top: 0% !important;
    margin-left: 5%;
  }

   #kep2 {
    width: 412px;
    height: 405px;
  }

  #h2_bitninja {
    font-size: 1.4rem !important;
  }
/*dia3*/
.dia3_ul li {
  font-size: 1rem !important;
}

/*dia4*/
#btn_sign_up {
    float: inherit;
  }

  /*dia5*/
  .dia5_first_p {
    margin-left: 8%;
  }

  

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

/*dia 1*/

iframe {
    width: 330px;
    height: 180px;
  }

 #logo {
    height: 40px;
     }

#h2_firewall {
    font-size: 1.2rem !important;

}

#white_button {
    font-size: 1rem;
    }
#zold_button {
  font-size: 1rem;
}    

#h6_no_credit {
    font-size: 0.8rem;
}

/*dia 2*/
#kep2 {
    width: 420px;
    height: 370px;
}

/*dia 3*/
#h2_bitninja {
    font-size: 1.4rem !important;
  }

}


@media only screen and (min-width: 1024px) and (max-width: 1440) {
    

    /*dia 1*/
   #no_credit_card {
    width: 81% !important;
}



    /*dia2*/

    #kep2 {
    width: 90%;
    height: 100%;
}

    /*dia3*/
    #dia3_ul {
      margin-left: 10% !important;
    }

 

}


@media only screen and (min-width: 1440px) {
    h1 {
        font-size: 4rem !important;
    }

    h6 {
      font-size: 1.1rem !important;
    }


/*1-es dia*/

#no_credit_card {
    width: 87%;
}

#h6_no_credit {
  font-size: 1.5rem !important;
}

    #dia2_ul {
        font-size: 1.2rem;
}

   #kep2 {
    width: 800px;
    height: 600px;
  }

  #h2_firewall {
     font-size: 2rem !important;
  }

  iframe {
    width: 560px;
    height: 320px;
  }

 .nav-item {
    font-size: 1.3rem;
 } 

  /*dia 3*/
  #dia3 {
  height: 600px;
}


.dia3_ul {
  margin-left: 8%;
  font-size: 1.8rem;
}

#dia3_ul_li {
  font-size: 1.8rem;
  margin-left: 0%;
}

#h2_bitninja {
  font-size: 2.5rem !important;
}

#h2_all_waf {
  font-size: 3rem !important;
}

.menu-item {
  width: 60px;
  height: 60px;
}

.menu-item a {
  font-size: 2.5rem;
}


.menu-item:nth-child(1) a:before {
  vertical-align: sub;
}
.menu-item:nth-child(2) a:before {
  vertical-align: sub;
}
.menu-item:nth-child(3) a:before {
  vertical-align: sub;
}
.menu-item:nth-child(4) a:before {
  vertical-align: sub;
}
.menu-item:nth-child(5) a:before {
  vertical-align: sub;
}
.menu-item:nth-child(6) a:before {
  vertical-align: sub;
}
.menu-item:nth-child(7) a:before {
  vertical-align: sub;
}
.menu-item:nth-child(8) a:before {
  vertical-align: sub;
}
.menu-item:nth-child(9) a:before {
  vertical-align: sub;
}


#text {
  font-size: 1.2rem;
}

/*4-es dia*/
#btn_sign_up {
  
  margin-top: -6%;
}

#h3_try {
padding-top: 6%;
}

#h2_setting {
    font-size: 3rem !important;
    }



@media only screen and (min-width: 2560px) {
    h1 {
        font-size: 6rem !important;
    }

    /*1-es dia*/

  iframe {
    width: 1100px;
    height: 600px;
  }
  
  .nav-link {
  font-size: 2rem;
  }
  
  #red_button {
  font-size: 2rem;
  }
  
  #black_button {
  font-size: 2rem;
  }
  
  #white_button {
  font-size: 2.5rem;
  }
  
  #zold_button {
  font-size: 2.5rem;
  }
  
  #h6_no_credit {
    font-size: 2.2rem !important;
  }
  
  #no_credit_card {
    width: 80%;
  }

  #logo {
  height: 100px;
  }

/*2-es dia*/

  #kep2 {
    width: 1100px;
    height: 800px;
}

  #dia2_ul {
    font-size: 2.5rem;
    margin-left: 10%;
  }

  #dia2_ul_div {
    margin-top: 3% !important;
  }
  #dia2_img {
  margin-top: 3%;
  margin-left: 5%;
  margin-bottom: 5%;
  }

  #h2_firewall {
    font-size: 4rem !important;
  }

  #h2_all_waf {
        font-size: 5rem !important;
  }

  /*3-as dia*/

  #h2_bitninja {
    font-size: 4rem !important;
  }

  #dia3 {
  height: 700px;
}

.dia3_ul {
  font-size: 2.5rem;
  margin-left: 10%;
}

.menu-item {
  width: 90px;
  height: 90px;
  
}

.menu-item a {
  font-size: 55px;
}

.menu-toggler:checked ~ ul .menu-item:nth-child(1) {
  -webkit-transform: rotate(0deg) translateX(-160px);
          transform: rotate(0deg) translateX(-160px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(2) {
  -webkit-transform: rotate(40deg) translateX(-160px);
          transform: rotate(40deg) translateX(-160px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(3) {
  -webkit-transform: rotate(80deg) translateX(-160px);
          transform: rotate(80deg) translateX(-160px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(4) {
  -webkit-transform: rotate(120deg) translateX(-160px);
          transform: rotate(120deg) translateX(-160px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(5) {
  -webkit-transform: rotate(160deg) translateX(-160px);
          transform: rotate(160deg) translateX(-160px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(6) {
  -webkit-transform: rotate(200deg) translateX(-160px);
          transform: rotate(200deg) translateX(-160px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(7) {
  -webkit-transform: rotate(240deg) translateX(-160px);
          transform: rotate(240deg) translateX(-160px);
}

.menu-toggler:checked ~ ul .menu-item:nth-child(8) {
  -webkit-transform: rotate(280deg) translateX(-160px);
          transform: rotate(280deg) translateX(-160px);
}

.menu-toggler:checked ~ ul .menu-item:nth-child(9) {
  -webkit-transform: rotate(320deg) translateX(-160px);
          transform: rotate(320deg) translateX(-160px);
}

.menu-item:nth-child(1) a:before {
  vertical-align: -webkit-baseline-middle;
}

.menu-item:nth-child(2) a:before {
  vertical-align: -webkit-baseline-middle;
}

.menu-item:nth-child(3) a:before {
  vertical-align: -webkit-baseline-middle;
}

.menu-item:nth-child(4) a:before {
  vertical-align: -webkit-baseline-middle;
}

.menu-item:nth-child(5) a:before {
  vertical-align: -webkit-baseline-middle;
}

.menu-item:nth-child(6) a:before {
  vertical-align: -webkit-baseline-middle;
}

.menu-item:nth-child(7) a:before {
  vertical-align: -webkit-baseline-middle;
}

.menu-item:nth-child(8) a:before {
  vertical-align: -webkit-baseline-middle;
}

.menu-item:nth-child(9) a:before {
  vertical-align: -webkit-baseline-middle;
}


/*4-es dia*/

#btn_sign_up {
  
  margin-top: -4%;
}

#h3_try {
padding-top: 4%;
font-size: 2.75rem;
}

#h2_setting {
font-size: 4rem !important;
margin-bottom: 2%;
}

#text {
    font-size: 2.2rem;
}

#kep3 {
    width: 1200px;
    height: 800px;
}

#dia4_red_div {
    height: 250px;
    }

  #dia4_text {
    font-size: 2rem;
  }

  #btn_sign_up {
    margin-top: -6%;
}

#h2_ninjas {
  font-size: 4rem;
}

.carousel-logo {
    width: 280px !important;
    height: 140px !important;
    }

  .dia5_first_p {
    height: 14rem;
    font-size: 2rem;
  }  

  .dia5_second_p {
    height: 14rem;
    font-size: 2rem;
  }  

  .carousel-indicators li {
    width: 40px !important;
    height: 40px !important;
    margin-bottom: 1%;
    margin-top: 1%;
  }

  footer {
    height: 25rem !important;
  }

  .footer_h5 {
    font-size:2.25rem;
  }

  .text-small {
    font-size: 2rem;
  }

  .fa {
    font-size:2.5rem;
  }

  .fa:before {
    font-size:2rem;
  }