/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
}

h1 {
  color: white !important;
  font-size: 3rem !important;
   text-align:  center !important;
    font-family: Impact, sans serif !important; 
    margin: 5% 0 5% 0 !important;
}


h6 {
  color: white !important;
    text-align: right !important;
    padding-right: 8% !important;
    margin-top: 10px !important;
}

.row {
  margin-bottom: 20px;
}

/*1. dia*/

#h2_firewall {
   
  font-family: Verdana, sans !important;
   font-size: 1.5rem !important;
  word-spacing: 5px;
}


/*1.dia vége*/

/*2. dia*/

#h2_all_waf {
  font-family: Impact, sans serif !important;
  font-size: 2.5rem !important;
  text-align: center;
  margin-bottom: 30px;
}

#dia2_ul {
  list-style-type: disc;
  margin-left: 30px;
  font-size: 1rem;
}

#dia2_ul_div {
  margin-left: 30px;
  margin-top: 5%;
  margin-right: 5px;
}

#kep2 {
  width: 530px;
  height: 420px;
  float: left;
  border-radius: 10%;
}


/*2.dia vége*/

.dia3_ul {
color: white;
}


footer {
  background-color: black;
  width: 100%;
  margin: 0 auto;
}

iframe {
     margin-bottom: 30px;
    margin-left: 50px;
}



.main-nav {
margin-top: 10px;
}

.main-nav li {
  display: inline-block;
  margin-left: 15px;
}

.dia {
position: relative;
overflow: hidden;
background-position: cover;
}

#red_button {
color: red;
border-color: red;
}

#black_button {
  color: black;
  border-color:black;
}

#white_button {
color: white;
border-color: white;
font-size: 22px;
margin-top: 20px;
margin-right: 10px;
border-radius: 10px;
}

#zold_button {
border-color: white;
color: white;
background-color: green;
margin-top: 20px;
font-size: 22px;
border-radius: 10px;
letter-spacing: 2px;
}

#no_credit_card {
  width: 86%;
}

#dia1_3 {
margin-top: 30px;
color: white;
}


#dia3 {
  background-color: black;
  width: 100%;

}

#logo {
  height: 65px;
  width: auto;
  float: left;
  
}

#kep {
  position: absolute;
  width: 100%;
}






/*media query*/
@media only screen and (max-width: 768px) {
     h1 {
        font-size: 2rem !important;
    }

}


@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1440px) {
    h1 {
        font-size: 4rem !important;
    }

    #dia2_ul {
        font-size: 1.2rem;
}

   #kep2 {
    width: 700px;
    height: 500px;
  }


@media only screen and (min-width: 2560px) {
    h1 {
        font-size: 6rem !important;
    }
  #kep2 {
    width: 800px;
    height: 600px;
  }

#dia2_ul {
    font-size: 1.6rem;
  }

  #dia2_ul_div {
    margin-top: 3%;
  }

  #h2_all_waf {
        font-size: 4rem !important;
  }